HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.DS_Store

### Monolithic ###
monolithic/.env.*
monolithic/src/main/resources/application-key.yml

### MSA ###
msa/env.*
msa/.env.*
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/msa/.env.gateway
/monolithic/src/env.backend
/monolithic/env.backend
/monolithic/env.redis
/monolithic/src/env.redis
/monolithic/src/env.mysql
/monolithic/src/test/java/com/project/chaechaeserver/inventory/WriteBackConsistencyTest.java.disabled
